---

---

<header>
  <h2>
    <a href="/"> manifests.fyi </a>
  </h2>
</header>

<style lang="scss">
  @reference "../styles/global.css";
  header {
    @apply flex bg-gray-800 p-8 text-white;
  }

  h2 {
    @apply text-4xl font-bold text-gray-200;
  }
</style>
