---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title} - manifests.fyi</title>
    <ClientRouter />
  </head>
  <body>
    <header>
      <h2>
        <span class="sr-only">manifests.fyi</span>
        <a href="/">
          <img src="/manifests-fyi-logotype.svg" alt="manifests.fyi logotype" />
        </a>
      </h2>
    </header>
    <main transition:animate="slide" transition:name="main">
      <h1>
        <slot name="title" />
      </h1>
      <slot />
    </main>
    <footer>
      <p>
        Created with ♥️ by <a href="https://zmc.dev">Zach</a>
      </p>
    </footer>
  </body>
</html>

<style lang="scss">
  @reference "../styles/global.css";
  :global(:root) {
    @apply lg:text-xl;
  }
  :global(html) {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-screen grid-rows-[auto,1fr,auto] bg-gray-200 text-gray-800;
  }
  header {
    @apply flex bg-gray-800 p-8 text-white;
  }

  header h2 {
    @apply text-2xl font-bold text-gray-200 md:text-4xl;
  }

  header h2 img {
    @apply max-h-16 max-w-[calc(100vw-2rem)] md:max-h-24;
  }
  h1 {
    @apply p-4 pt-0 text-3xl font-bold text-gray-800;
  }
  main {
    @apply p-4;
  }
  footer {
    @apply flex items-center justify-center gap-2 p-4 text-gray-800;
  }

  header,
  main,
  footer {
    @apply px-[max(1rem,calc(calc(100svw-1200px)/2))];
  }
</style>
